.product_carts{
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
}
.product_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 89px;
}
.product_h2{
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.64px;
    text-align: left;
    padding-bottom: 20px;
}
.cart-like-img{
    display: flex;
}
.cart-button{
    width: 23px;
    height: 23px;
    opacity: 0px;
    background-color: #fff;
    border: 2px solid #fff;
}
.like-img{
    width: 22px;
    height: 22px;
}
.like{
    width: 28px;
    height: 25px;
    margin-left: -24px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #fff;
}
.product_img{
    width: 250px;
    height: 216px;
    top: 2129px;
    left: 378px;
    gap: 0px;
    opacity: 0px;
}
.product_cart{
    width: 326px;
    height: 395px;
}
.product_title{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #454545;
}
.old_price{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: left;
    color: #9F9F9F;
    margin-top: -15px;
}
.price_cartbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}
.product_price{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: -20px;
}
.cart-button {
    margin-top: -7px;
    margin-left: 60px;
    width: 23px;
    height: 23px;
    opacity: 0px;
    background-color: #fff;
    border: 2px solid #fff;
}
.productts{
    padding-top: 40px;
}
@media (max-width: 670px) and (min-width: 340px) {
    .product_cart{
        width: 160px;
        height: 279px;
        margin-left: -40px;
        margin-right: 50px;
    }
    .product_img{
        width: 96px;
        height: 126px;
    }
    .cart-button{
        margin-left: 13px;
    }
    .price_cartbutton{
        width: 80px;
    }
    .product_price{
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    .product_top{
        flex-wrap: wrap;
    }
}
@media (max-width: 466px) and (min-width: 340px) {
    .product_cart{
        width: 135px;
        height: 250px;
        margin-left: -45px;
        padding-right: 50px;
    }
    .product_img{
        width: 90px;
        height: 126px;
    }
    .cart-button{
        margin-left: 13px;
    }
    .price_cartbutton{
        width: 50px;
    }
    .product_title{
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }
    .like{
        width: 18px;
        height: 18px;
    }
    .like-img{
        width: 16px;
        height: 16px;
    }
}