.allProduct{
    padding-top: 60px;
}
.button11{
    border: 2px solid #fff;
    background-color: #fff;
    color: #ccc;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
}