.garant-h5{
    padding-top: 45px;
    padding-bottom: 28px;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
}
.garant-p{
    max-width: 640px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
}
@media (max-width: 995px) and (min-width: 340px) {
    .shipping{
        flex-wrap: wrap;
    }
}
@media (max-width: 996px) and (min-width: 340px) {
    .navlink1{
        padding-top: 100px;
    }
    .kompone-h2{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 500;
        line-height: 45.4px;
    }
}