.blog {
    padding-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_title {
    display: flex;
}

.blog_h6 {
    width: 310px;
    height: 52px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.blog_cart {
    width: 420px;
    height: 456px;
    border-radius: 10px;
}

.day {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    text-align: left;
    padding-top: 24px;
    color: #454545;
}

.strelka {
    padding-left: 70px;
}

@media (max-width: 1300px) and (min-width: 340px) {
    .blog {
        flex-wrap: wrap;
    }
}

@media (max-width: 1290px) and (min-width: 990px) {
    .blog_cart {
        width: 350px;
        height: 400px;
        border-radius: 10px;
    }

    .blogcart-img {
        max-width: 370px;
    }
}

@media (max-width: 1290px) and (min-width: 990px) {
    .blog_cart {
        width: 320px;
        height: 370px;
        border-radius: 10px;
    }

    .blogcart-img {
        max-width: 340px;
    }
}

@media (max-width: 490px) and (min-width: 340px) {
    .blog_cart {
        max-width: 300px;
        height: 350px;
        border-radius: 10px;
    }

    .blogcart-img {
        max-width: 300px;
    }
}