.empty{
    text-align: center;
    padding: 35px 0;
}
.empty-h2{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 57.5px;
    text-align: center;
    color: #000;
}
@media (max-width: 575px) and (min-width: 340px) {
    .empty{
        max-width: 450px;
    }
}
@media (max-width: 515px) and (min-width: 340px) {
    .empty{
        max-width: 380px;
    }
}
@media (max-width: 420px) and (min-width: 340px) {
    .empty{
        max-width: 340px;
    }
}