.search{
    width: 620px;
    height: 50px;
    top: 43px;
    left: 401px;
    gap: 0px;
    border-radius: 100px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: left;
    padding-left: 24px;
}
.search-icon{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    left: 992px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    margin-left: -40px;
    margin-right: 50px;
    z-index: 111111;
}
.product_search{
    position: absolute;
    height: 40px;
    flex: 1;
    position: relative;
    z-index: 111111;
    background-color: #fff;
}
.sear{
    border: 1px solid #fff;
    box-shadow: 3px 3px 5px #ccc;
    height:50px;

}
.span{
    z-index: 11111118;
    padding-top: 10px;
}
.imgg{
    margin-left: 8px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    z-index: 111111;
}
.navv{
    padding-top: 2px;
    display: flex;
    gap: 20px;
}