.kompone{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kompone-h2{
    font-family: Manrope;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    padding-top: 15px;
}
.kompone-cart{
    width: 530px;
    height: 253px;
    top: 364px;
    left: 310px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}
.kompone-h4{
    font-family: Manrope;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    padding-top: 32px;
    padding-left: 32px;
}
.kompone-h5{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    padding-left: 32px;
    padding-top: 80px;
}
.kompone-p{
    padding-top: 15px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.kompone-pp{
    padding-bottom: 40px;
    padding-top: 15px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.button11 {
    border: 2px solid #fff;
    background-color: #fff;
    color: #777;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    margin-top: 20px;
}
@media (max-width: 1260px) and (min-width: 340px) {
    .kompone{
        flex-wrap: wrap;
    }
}
@media (max-width: 700px) and (min-width: 340px) {
    .kompone-cart{
        width: 450px;
        height: 203px;
    }
    .kompone-h4{
        font-size: 55px;
        font-weight: 700;        
        line-height: 65.4px;
    }
}
@media (max-width: 700px) and (min-width: 340px) {
    .kompone-cart{
        width: 450px;
        height: 203px;
    }
    .kompone-h5{
        padding-top: 55px;
    }
    .kompone-p{
        display: none;
    }
}
@media (max-width: 511px) and (min-width: 340px) {
    .kompone-cart{
        width: 400px;
        height: 180px;
    }
    .kompone-h5{
        padding-top: 40px;
    }
}
@media (max-width: 455px) and (min-width: 340px) {
    .kompone-cart{
        width: 360px;
        height: 160px;
    }
    .kompone-h5{
        padding-top: 20px;
    }
}
@media (max-width: 425px) and (min-width: 340px) {
    .kompone-cart{
        width: 325px;
        height: 140px;
    }
    .kompone-h5{
        padding-top: 10px;
    }
    .kompone-h4{
        font-size: 35px;
        font-weight: 600;        
        line-height: 50.4px;
    }    
}