.kontact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kontact-h6{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    text-align: left;
}
.kontact-p{
    width: 209px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
}
@media (max-width: 1270px) and (min-width: 1005px) {
    .kontact{
        padding-top: 65px;
    }
}
@media (max-width: 1005px) and (min-width: 870px) {
    .kontact{
        padding-top: 120px;
    }
}
@media (max-width: 870px) and (min-width: 777px) {
    .kontact{
        padding-top: 150px;
    }
}
@media (max-width: 777px) and (min-width: 550px) {
    .kontact{
        padding-top: 40px;
    }
}
@media (max-width: 730px) and (min-width: 550px) {
    .kontact{
        padding-top: 55px;
    }
}
@media (max-width: 580px) and (min-width: 340px) {
    .kontact{
        padding-top: 55px;
    }
    .kontact{
        flex-wrap: wrap;
    }
}